@import url("https://fonts.googleapis.com/css2?family=Poopins&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
   width: 100px;
   height: 100px;
}

.navbar-top{
    background:linear-gradient(135deg, #fd9fdadc, #fc9696ea, #bd9bfdea, #b2e1f1e3); ;
}

.logo {
    font-family: Cookie;
    text-decoration: none;
    color: #000;
    font-size: 45px;
    padding-left: 18px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    margin: 0;
}

.top {
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.logo img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: 60px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content i {
    color: #000;
    font-size: 20px;
    margin-left: 1rem;
}
   
.header-content .btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background: var(--gradient);
    margin-left: 1rem;
}
   
.header-content .btn i {
       color: hsl(0, 0%, 100%, 0.6);
       margin-right: 10px;
}

#btn-search {
    background-color: rgb(190, 57, 168); 
    color: rgb(255, 255, 255);
}

#btn-search:hover {
    background-color: #d80bb6;
}

.btn-sidebar {
    padding-left: 8px;
    background-color: #ca1795 !important;
    color: #fffcfc !important;
    padding: 5px 10px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important; /* Tamaño del corazón */
    font-family: Arial, sans-serif !important; /* Fuente que incluye el símbolo del corazón */
}

.btn-sidebar:hover {
    background-color: #b3007db0 !important;
}


.btn {
    display: inline-block;
    border: none;
    font-size: 16px;
    text-decoration: none; /* Elimina subrayado de enlace */
    cursor: pointer;
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.btn i {
    margin-right: 5px; /* Espacio a la derecha del icono */
    color: #000;
}


.offcanvas-header{
    background: #c9448d;
    color: #000;
}
.offcanvas-body {
    margin-top: 0;
    background:linear-gradient(135deg, #fd9fdadc, #fc9696ea, #bd9bfdea, #b2e1f1e3);
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: 2px solid #e2336b; 
}

.profile-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.name {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.name h1 {
    font-size: 1.1rem;
}


.about{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.box {
    text-align: center;
    margin: auto;
}

.box h3{
    font-size: 1rem;
    font-weight: 500;
}


.menu a {
    padding-left: 15px;
    width: 100%;
    font-size: 1rem;
    color: #000;
    display: flex;
    align-items: center;
    line-height: 34px;
    text-decoration: none;
}

.menu a:hover,
.menu .active {
 color: #e2336b;
}

.menu .icon{
    margin-right: 1rem;
    font-size: 20px;
} 

.menu a:hover::before,
.menu .active::before {
 content: '';
 position: absolute;
 right: 0;
 width: 2px;
 height: 17px;
 background: #e2336b;
}

/* main home */

.main-home{
    width: 100%;
    height: 100vh;
    top: 0;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
}

.bi {
    font-size: 20px;
    margin-right: 10px;
}

.btn-text {
    color: #fff;
}

.stories-title {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.stories-title h1{
    font-size: 1.8rem;
}

.stories-title .btn {
    display: flex;
    align-items: center;
    color: #000;
}

.stories-title, 
.btn i {
 font-size: 24px;
 margin-right: 10px;
}

.stories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.stories-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e2336b;
}

.stories-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.stories-img .color {
    border: 2px solid #dbdbdb ;
} 

.stories-img .add{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 20px;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   color: #fff;
   background: hsla(246, 92%, 75%, 0.7);
}

.feed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.feed h1{
    font-size: 1.7rem;
}

.feed-text {
    display: flex;
    align-items: center;
}

.feed-text h2 {
    font-size: 1rem;
    margin-right: 1rem;
}

.main-posts {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, auto));
    gap: 11px;
}

.post-box{
    width: 300px;
 
}

.post-box img{
    width:  100%;
    height: 344px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.post-info{
    display: flex; /* Establece el contenedor como un flex container */
    justify-content: space-between; /* Alinea los elementos a lo largo del contenedor */
    flex-wrap: wrap; 
}

.post-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #e2336b;
    border-radius: 50%;
}

.post-img img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.post-profile {
    display: flex;
    align-items: center;
}

.post-profile h3 {
    font-size: 12px;
    font-weight: 600px;
    margin-left: 5px;
}

.likes{
    display: flex;
    align-items: center;
}

.likes i{
    font-size: 20px;
    margin-left: 10px;
}

.likes span {
    font-size: 14px;
    margin-left: 7px;
}