/* Contenedor de la barra de búsqueda */
.search-container {
    position: absolute;
    top: 108%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FCCB00;
    padding: 5px;
}

/* Input de búsqueda */
#search-bar {
    
    color: #000000;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: 3px solid #00485E;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: none;
}

#search-bar::placeholder {
    color: #000000;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

#search-bar:focus::placeholder {
    opacity: 1;
}

#search-bar:focus, #search-bar:not(:placeholder-shown) {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FCCB00;
}

/* Botón de búsqueda */
#search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #FCCB00;
    margin-left: 5px;
    transition: color 0.3s;
}

#search-button:hover {
    color: #00485E;
}

