.search-container {
        position: absolute;
        top: 630px;
        right: 20px;
        display: flex;
        align-items: center;
    }

    #search-bar {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #search-button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 8px 12px;
        margin-left: 5px;
        cursor: pointer;
        border-radius: 5px;
    }
