#volver-btn {
    position: absolute;
    top: 60px; /* Ajusta según la altura del botón de inicio de sesión */
    right: 20px; /* Ajusta según el margen derecho deseado */
    background-color: #FCCB00;
    color: #00485E;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#volver-btn:hover {
    background-color: #e6b800;
}
