#volver-btn {
    position: absolute; /* O fixed si quieres que el botón se mantenga en su posición al hacer scroll */
    top: 60px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    background-color: #FCCB00;
    color: #00485E;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1000; /* Asegura que el botón esté encima de las imágenes */
}

#volver-btn:hover {
    background-color: #e6b800;
}
